Repository AhmedAl-Hayali/GenreGuru, pull requests merged in 2024-11, with the labels that each got.

#143 docs[vnv-3.5]: complete implementation verification plan
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#146 docs[vnv-3.7] software validation plan completed
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#163 docs[vnv-2.2]: Complete VnV Objectives
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#161 docs[vnv-3.1]: Complete VnV team roles
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#144 docs[vnv-3.6]: complete automated testing and verification tools
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#176 docs[vnv-4.3]: complete traceability matrices
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#197 ProjMngmnt[]Updating Section for Ansel
  docs/projMngmnt/POC_Team_Contrib.tex
Labels: deliverable item, PoC

#199 docs+chore[vnv]: chore[vnv]: rev hist, figs list, acronyms, author notes; (3 - Plan) roadmap, symbolic params, reflection
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#202 docs[poc_team_contrib-8]:initial write-up of CICD section
  docs/projMngmnt/POC_Team_Contrib.pdf
  docs/projMngmnt/POC_Team_Contrib.tex
Labels: documentation, deliverable item, PoC

#214 docs[poc-team-contrib]: Complete PoC Team Contributions Survey
  docs/projMngmnt/POC_Team_Contrib.pdf
  docs/projMngmnt/POC_Team_Contrib.tex
Labels: documentation, deliverable item, PoC

#264 chore[meeting-issue-template]: update to include names, assignees, and section headings
  .github/ISSUE_TEMPLATE/team_meet.md
Labels: Documentation, Chore

#274 docs[devplan]: complete team charter
  docs/DevelopmentPlan/DevelopmentPlan.pdf
  docs/DevelopmentPlan/DevelopmentPlan.tex
Labels: Documentation

#275 chore[devplan-9]: compile pdf
  docs/DevelopmentPlan/DevelopmentPlan.pdf
  docs/DevelopmentPlan/DevelopmentPlan.tex
Labels: Documentation, Chore, PoC, Development Plan
