Repository AhmedAl-Hayali/GenreGuru, pull requests merged in 2024-10, with the labels that each got.

#34 chore[template]: Pull non-devplan changes from template
  .github/ISSUE_TEMPLATE/lect.md
  .github/ISSUE_TEMPLATE/peer_review.md
  .github/ISSUE_TEMPLATE/sup_meet.md
  .github/ISSUE_TEMPLATE/ta_meet.md
  .github/ISSUE_TEMPLATE/team_meet.md
  docs/Makefile
  docs/ReflectAndTrace/Makefile
  docs/ReflectAndTrace/README.md
  docs/ReflectAndTrace/ReflectAndTrace.pdf
  docs/ReflectAndTrace/ReflectAndTrace.tex
  docs/projMngmnt/Final_Team_Contrib.pdf
  docs/projMngmnt/Final_Team_Contrib.tex
  docs/projMngmnt/POC_Team_Contrib.pdf
  docs/projMngmnt/POC_Team_Contrib.tex
  docs/projMngmnt/Rev0_Team_Contrib.pdf
  docs/projMngmnt/Rev0_Team_Contrib.tex
Labels: documentation

#35 chore[template]: Pull devplan changes from template
  docs/DevelopmentPlan/DevelopmentPlan.pdf
  docs/DevelopmentPlan/DevelopmentPlan.tex
Labels: documentation

#60 chore[pr-template]: pr template for deliverable work
  .github/PULL_REQUEST_TEMPLATE/deliverable_item.md
Labels: documentation

#64 docs[srs-5]: complete SRS-22
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#65 docs[srs-23]: complete SRS-23
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#66 docs[srs-25]: complete SRS-25
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#63 docs[srs-5]: complete SRS-5
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#95 docs[srs]: fix function point costs
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#99 docs[srs-1]: complete user business & project goals
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#94 [review] SRS-6: Scope of work #94
  docs/SRS/6_1_a.pdf
  docs/SRS/6_1_b.pdf
  docs/SRS/6_1_c.pdf
  docs/SRS/6_2_context_diagram.pdf
  docs/SRS/6_3_work_partitioning_table.pdf
  docs/SRS/SRS.tex
Labels: documentation, SRS

#97 docs[srs-2]: outline stakeholders, personas, and their responsibilities
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#101 docs[srs-10-17]: complete NFRs
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, deliverable item, SRS

#109 fix[srs-7]: re-include overwritten/erased bdm & data dict
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
  docs/SRS/diagrams/7_1_business_data_model.png
Labels: documentation, deliverable item, SRS

#110 docs[haz-anl-3]: include system component diagram & component descriptions table
  docs/HazardAnalysis/HazardAnalysis.pdf
  docs/HazardAnalysis/HazardAnalysis.tex
  docs/HazardAnalysis/diagrams/2_1_system_characterization_diagram.png
Labels: documentation, deliverable item, Hazard Analysis

#139 docs-chore[vnv]: remove section 5 author notes
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, VnV, Chore

#141 docs[vnv]: complete srs verification plan
  docs/VnVPlan/VnVPlan.pdf
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, deliverable item, VnV

#140 chore[pr-template]: pr template for deliverable work
  .github/PULL_REQUEST_TEMPLATE/deliverable_item.md
Labels: documentation
