Repository AhmedAl-Hayali/GenreGuru, pull requests merged in 2025-01, with the labels that each got.

#334 docs[MIS]: Complete the MIS for the server communication module
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Documentation, Deliverable Item, Design

#327 docs[MIS]: complete MIS of client communication module
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Documentation, Deliverable Item, Design

#337 docs[MIS]: complete server driver module
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Documentation, Deliverable Item, Design

#322 docs[MIS-8] - added the search query module to the doc
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Documentation, Deliverable Item, Design

#352 docs[MG-6] - added the connection between requiremnts and modules
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#342 Docs/design/soft architecture/mg 7
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#369 docs[MG]: MG-11 communication protocols complete.
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#330 docs[MG-4.1] - added anticipated changes to the doc
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#332 docs[MG-4.2] - added unlikey changes to the doc
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#359 docs[MIS]: MIS Behavior Hiding Modules Completed
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Documentation, Deliverable Item, Design

#271 chore[lecture-issue-template]: update to include names and section headings
  .github/ISSUE_TEMPLATE/lect.md
Labels: Documentation, Chore

#349 docs[MG]: Traceability Matrix
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#382 Revert "docs[MG]: Traceability Matrix"
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Development Plan, Design

#391 docs[MG-4.1] - updating AC
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#392 chore[docs-common]: update `progname` from Software Engineering to GenreGuru
  docs/Common.tex
Labels: Documentation, Chore

#374 docs[mis-6]: add spotify api & db modules docs
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Documentation, Deliverable Item, Design

#393 docs[mg-2]: populate acronyms section
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Deliverable Item, Design

#396 docs[rev0-team-contrib]: Complete Rev0 Team Contributions Survey
  docs/projMngmnt/Rev0_Team_Contrib.pdf
  docs/projMngmnt/Rev0_Team_Contrib.tex
Labels: Documentation, Deliverable Item, rev0
