Repository AhmedAl-Hayali/GenreGuru, pull requests merged in 2025-04, with the labels that each got.

#425 Docs[MG]: Timeline, Deleted no longer applicable modules, added new modules.
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Peer Review, Rev1

#432 docs[MG]: Update documentation to show changes made in red
  docs/Design/SoftArchitecture/MG.tex
Labels: Documentation, Rev1

#426 SRS Revision 1 Final Docs
  .gitignore
  docs/SRS/6_3_work_partitioning_table.pdf
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
  docs/SRS/diagrams/3_2_environment_diagram.pdf
  docs/SRS/diagrams/3_3_partner_constraints_figure.pdf
  docs/SRS/diagrams/6_1_a.pdf
  docs/SRS/diagrams/6_1_b.pdf
  docs/SRS/diagrams/6_1_c.pdf
  docs/SRS/diagrams/6_1b2.png
  docs/SRS/diagrams/6_2_context_diagram.pdf
  docs/SRS/diagrams/6_2context.png
  docs/SRS/diagrams/PUC1.drawio.png
  docs/SRS/diagrams/PUC2.drawio.png
  docs/SRS/diagrams/PUC3.drawio.png
  docs/SRS/diagrams/PUC4.drawio.png
  docs/SRS/diagrams/PUCTable.png
  docs/SRS/diagrams/RelationsBetweenTM_GD_IM_DD_A.pdf
  docs/SRS/diagrams/UI.png
  docs/SRS/diagrams/analyze_song.png
  docs/SRS/diagrams/database.drawio.png
  docs/SRS/diagrams/generate_song.png
  docs/SRS/diagrams/p_scope.png
  docs/SRS/diagrams/recommend_song.png
  docs/SRS/diagrams/recommendation_feature.png
  docs/SRS/diagrams/server_song_analysis.png
  docs/SRS/diagrams/server_song_gen.png
  docs/SRS/diagrams/server_song_rec.png
  src/client/genre-guru/node_modules/yocto-queue/readme.md
Labels: Documentation, Deliverable Item, SRS, Rev1

#433 docs[hazard-analysis]: fixed
  docs/HazardAnalysis/HazardAnalysis.pdf
  docs/HazardAnalysis/HazardAnalysis.tex
Labels: Documentation, Deliverable Item, Hazard Analysis, Rev1

#435 Merging in the User interface
  .gitignore
  INSTALL.md
  src/client/__pycache__/client.cpython-312.pyc
  src/client/client.py
  src/client/frontend/node_modules/.cache/default-development/0.pack
  src/client/frontend/node_modules/.cache/default-development/index.pack
  src/client/genre-guru/.gitignore
  src/client/genre-guru/README.md
  src/client/genre-guru/package-lock.json
  src/client/genre-guru/package.json
  src/client/genre-guru/public/favicon.ico
  src/client/genre-guru/public/index.html
  src/client/genre-guru/public/logo192.png
  src/client/genre-guru/public/logo512.png
  src/client/genre-guru/public/manifest.json
  src/client/genre-guru/public/robots.txt
  src/client/genre-guru/src/App.css
  src/client/genre-guru/src/App.js
  src/client/genre-guru/src/App.test.js
  src/client/genre-guru/src/components/Header.js
  src/client/genre-guru/src/components/PlayCard.js
  src/client/genre-guru/src/components/ResultsCarousel.js
  src/client/genre-guru/src/components/SearchBar.js
  src/client/genre-guru/src/components/UploadFile.js
  src/client/genre-guru/src/index.css
  src/client/genre-guru/src/index.js
  src/client/genre-guru/src/logo.svg
  src/client/genre-guru/src/pages/HomePage.js
  src/client/genre-guru/src/pages/LoadingPage.js
  src/client/genre-guru/src/pages/ResultsPage.js
  src/client/genre-guru/src/reportWebVitals.js
  src/client/genre-guru/src/services/api.js
  src/client/genre-guru/src/services/backend_api.js
  src/client/genre-guru/src/setupTests.js
  src/client/genre-guru/src/styles/App.css
  src/client/genre-guru/src/styles/carousel.css
  src/client/genre-guru/src/styles/components.css
  src/client/genre-guru/src/styles/loading.css
  src/client/genre-guru/src/styles/playcard.css
  src/client/genre-guru/src/styles/results.css
  src/client/genre-guru/src/styles/searchbar.css
  src/client/genre-guru/src/styles/uploadfile.css
  src/featurizer/main_featurizer.py
  src/server/requirements.txt
  src/server/server.py
  src/url-store/render.yaml
  src/url-store/requirements.txt
  src/url-store/server.py
Labels: Dev, Rev1

#434 docs[MIS]: REV1 revisions
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Deliverable Item, Rev1

#437 docs[design]: rev1 revisions to bpm and key modules
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
Labels: Documentation, Deliverable Item, Design, Rev1

#436 docs[Extras-User Guide]: Completed User Guide
  docs/UserGuide/UserGuide.pdf
  docs/UserGuide/UserGuide.tex
Labels: Documentation, Rev1

#438 docs[MG]: Uses Hierarchy
  docs/Design/SoftArchitecture/MG.tex
  docs/Design/SoftArchitecture/UsesHierarchy.png
Labels: Documentation, Deliverable Item, Design, Rev1

#440 Docs[MIS, MG]: recompiled PDFs
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
  docs/Design/SoftDetailedDes/MIS.pdf
Labels: Documentation, Rev1
